/*Para todos os HTML*/

* {
     margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --background-color: #fff;
    --text-color: #333;
    --heading-color: goldenrod;
    --header-bg: #0F1B2B;
    --card-bg: #f9f9f9;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --card-border: rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

nav a{
    color: var(--heading-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--header-bg);
    height: 8vh;
    padding: 0 20px;
    position: relative; 
}

.nav-list {
    list-style: none;
    display: flex;
    color: white;
    margin-left: 20px; 

}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    margin-top: 20px;
}

.logo-container {
    margin-left: -80px;
    margin-top: 15px;
}

.cabecalho-box {
    background-color: var(--header-bg);
    height: 100px;
}

.logo-cabecalho {
    height: 70px;
}

.RUA-cabecalho {
    height: 60px;
}

.rasteamento-cabecalho {
    height: 60px;
}

.rodape-box {

    height: 250px;
    text-align: center;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo-rodape{
    height: 50px;
}

/* Parte Temas */

body.theme-dark {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --heading-color: #ffd149;
    --header-bg: #000000;
    --card-bg: #1e1e1e;
    --card-shadow: rgba(0, 0, 0, 0.3);
    --card-border: rgba(255, 255, 255, 0.1);
}

body.theme-blue {
    --background-color: #0a1929;
    --text-color: #e0e0e0;
    --heading-color: #ffc857;
    --header-bg: #051323;
    --card-bg: #0f2942;
    --card-shadow: rgba(0, 0, 0, 0.3);
    --card-border: rgba(255, 255, 255, 0.1);
}


.theme-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 15px;
    right: 80px;
}

.theme-btn {
    padding: 5px 10px;
    margin: 0 3px;
    border: 1px solid var(--card-border);
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    font-size: 0.8rem;
}

.theme-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*Menu Hmaburguer*/

.mobile-menu{
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #ffff;
    margin: 8px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: var(--header-bg);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        z-index: 3;
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .theme-switcher {
        display: flex;
        align-items: center;
        margin: 0;
        position: absolute;
        top: 50%; 
        right: 80px;
        transform: translateY(-50%);
    }
    nav {
        position: relative;
    }
}

.inicio {
    color: white;
}

.nav-list.active{
    transform: translateX(0);
}

/*Pagina Principal*/

.texto-rastreando {
    position: absolute;
    color: rgb(194, 147, 29);
    font-size: 3vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
}

.texto-enchente {
    position: absolute;
    color: rgb(68, 67, 67);
    font-size: 2vw;
    max-width: 90%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
}
.texto-enchente1 {
    position: absolute;
    color: rgb(68, 67, 67);
    font-size: 2vw;
    max-width: 90%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    margin-top: 200px;
}
#beneficios {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: stretch;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

#beneficios section{
    background-color: var(--card-bg);
    padding: 40px 60px;
    max-width: 500px;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0px 30px var(--card-shadow);
    transition: transform 0.3 ease;
    margin: 20px;
}
.expansao, .solucao {
    margin: 0;
    flex: 1;
}

#beneficios section:hover{
    transform: translateY(-5px);
}

#beneficios h2 {
   font-size: 2.5rem;
   color: goldenrod;
   margin-bottom: 20px;
   text-align: center;
   text-transform: uppercase;
}
  
#beneficios p {
   font-size: 1.5rem;
   color: var(--text-color);
   line-height: 1.6;
   margin-bottom: 16px;
}
  
#beneficios strong {
   color: goldenrod;
}
.alvo {
    padding: 80px 0;
}
.para-quem {
    margin-top: 30px;
    display: flex;
}

.container-alvo strong {
    color: goldenrod;
}

.alvos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.quadrado-alvo {
    background-color: var(--card-bg);
    padding: 150px 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px var(--card-shadow);
    transition: transform 0.3s ease;
    border: 1px solid var(--card-border);
}

.quadrado-alvo:hover {
    transform: translateY(-10px);
}

.quadrado-alvo h3 {
    color: var(--heading-color);
    margin-bottom: 15px;
    font-size: 2rem;
}
.quadrado-alvo p {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.container-alvo h1 {
    font-size: 2rem; 
    line-height: 1.6;   
    color: var(--text-color); 
    max-width: 800px;
    margin: 20px auto; 
    font-weight: 400; 
    text-align: justify; 
    text-justify: inter-word;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.container-alvo h2{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: var(--heading-color);
    font-size: 4rem;
    text-align: center;
}

.carro {
    height: 500px;
    transition: transform 0.3s ease;
    border-radius: 8px;
}

.carro:hover {
    transform: translateY(-5px);
}

.background-image {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    z-index: 1;
    object-fit: cover;
}

.container-problema {
    position: relative;
    width: 100%;
    height: auto;
}


.container-problema h2 {
    position: absolute;
    color: goldenrod;
    font-size: 8vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    text-align: center;
}

/* SlideShow */

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
}
.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position:relative;
    transition: 2s;
}

.slide img {
    width: 800px;
    border-radius: 8px;
}

.navegacao-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-button {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-button:not(:last-child){
    margin-right: 40px;
}

.manual-button:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navegacao-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegacao-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegacao-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegacao-auto .auto-button1{
    background-color: white;
}

#radio2:checked ~ .navegacao-auto .auto-button2{
    background-color: white;
}

#radio3:checked ~ .navegacao-auto .auto-button3{
    background-color: white;
}

#radio4:checked ~ .navegacao-auto .auto-button4{
    background-color: white;
}

/*Fim SlideShow*/

.vantagens {
    padding: 80px 20px;
    background-color: var(--background-color);
    text-align: center;
}

.vantagens h2 {
    color: goldenrod;
    font-size: 3rem;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.cards-vantagens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
}

.card-vantagem {
    background-color: var(--card-bg);
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 5px 20px var(--card-shadow);
    border: 1px solid var(--card-border);
    transition: transform 0.3s ease;
    max-width: 400px;
}

.card-vantagem:hover {
    transform: translateY(-10px);
}

.card-vantagem h3 {
    color: goldenrod;
    font-size: 2rem;
    margin-bottom: 20px;
}

.card-vantagem p {
    color: var(--text-color);
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: justify;
}

.card-vantagem strong {
    color: goldenrod;
}

/* Pagina Prototipo*/

.prototipo {
    display: flex;
    ;
}

.prototipo p {
    margin-top: 225px;
    margin-left: 60px;
    font-size: 2rem;
}

.satelite {
    max-height: 500px;
    margin: 30px 50px;
    border-radius: 8px;
}
.prototipo p strong{
    color: goldenrod;
}

/*Pagina Contato*/

.contato {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 700px;
}
.contato h2 {
    text-align: center;
    font-size: 1.8rem;
    color: goldenrod;
}

.contato div {
    display: block;
    width: 500px;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 40px 20px;
    border-radius: 10px;
    border: goldenrod solid 1px;
}

.contato label,input,textarea {
    display: block;
    width: 100%;
    padding-top: 30px;
}

.contato label{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contato button {
    margin-top: 10px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: #0F1B2B;
    color: goldenrod;
    font-size: 1rem;
    border: goldenrod solid 1px;
    margin-left: 200px;
    cursor:pointer;
}

/*Formulario */

input:invalid, textarea:invalid {
  border: 2px solid red;
}


/*Personalizacao QUIZ*/

.app{
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    margin-bottom: 100px;
    padding: 30px;
    border: goldenrod solid 1px;
    border-radius: 4px;
}

.app h1 {
    border-bottom: 1px solid #333;
    font-weight: 600;
    padding-bottom: 30px;
    color: goldenrod;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    font-weight: 600;
}

.button-quiz{
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid goldenrod;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition:all 0.3s;
}

.button-quiz:hover:not([disabled]){
    background: #222;
    color: white;
}

.button-quiz:disabled{
    cursor: no-drop;
}

#button-proximo {
    background-color: #0a1929;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 10px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    border: goldenrod solid 1px;
}

.correct {
    background-color: #9aeabd;
}

.incorrect {
    background-color: #ff9393;
}
